<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7FjoE4NU667n7VCyvW_QsezaH46MvGoA</string>
	<key>GCM_SENDER_ID</key>
	<string>787804813632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eclipse.vpn</string>
	<key>PROJECT_ID</key>
	<string>dbug-codecanyon</string>
	<key>STORAGE_BUCKET</key>
	<string>dbug-codecanyon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787804813632:ios:20cc5b303617dae789e2a5</string>
</dict>
</plist>